# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# Backend
SECRET_KEY=changeme
ENVIRONMENT=development
LOG_LEVEL=INFO
LOG_REQUESTS=true

# Must be JSON array syntax (string)
CORS_ORIGINS=["htttp://localhost:5173"]
FRONTEND_URL=http://your-frontend.com
RESEND_API_KEY=
EMAIL_FROM=Project <onboarding@resend.dev>