# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

SECRET_KEY=changeme
ENVIRONMENT=production
LOG_LEVEL=INFO
LOG_REQUESTS=true
BACKEND_IMAGE_TAG=1.0.0
FRONTEND_IMAGE_TAG=1.0.0

CORS_ORIGINS=["http://your-frontend.com", "http://www.your-frontend.com"]
FRONTEND_URL=http://your-frontend.com
RESEND_API_KEY=
EMAIL_FROM=Project <onboarding@resend.dev>